* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/aclocal.m4 -text
/ap_include.am -text
/apertium-ina-spa.ina-spa.dix -text
/apertium-ina-spa.ina-spa.lrx -text
/apertium-ina-spa.ina-spa.t1x -text
/apertium-ina-spa.ina-spa.t2x -text
/apertium-ina-spa.ina-spa.t3x -text
/apertium-ina-spa.spa-ina.lrx -text
/apertium-ina-spa.spa-ina.t1x -text
/apertium-ina-spa.spa-ina.t2x -text
/apertium-ina-spa.spa-ina.t3x -text
/autogen.sh -text
autom4te.cache/output.0 -text
autom4te.cache/output.1 -text
autom4te.cache/requests -text
autom4te.cache/traces.0 -text
autom4te.cache/traces.1 -text
/config.log -text
/config.status -text
/configure -text
/configure.ac -text
/ina-spa.autobil.bin -text
/ina-spa.autogen.bin -text
/ina-spa.autolex.bin -text
/ina-spa.automorf.bin -text
/ina-spa.autopgen.bin -text
/ina-spa.prob -text svneol=unset#unset
/ina-spa.rlx.bin -text
/ina-spa.t1x.bin -text
/ina-spa.t2x.bin -text
/ina-spa.t3x.bin -text
/install-sh -text
/missing -text
/modes.xml -text
modes/ina-spa-biltrans.mode -text
modes/ina-spa-dgen.mode -text
modes/ina-spa-disam.mode -text
modes/ina-spa-interchunk.mode -text
modes/ina-spa-lex.mode -text
modes/ina-spa-morph.mode -text
modes/ina-spa-postchunk.mode -text
modes/ina-spa-pretransfer.mode -text
modes/ina-spa-tagger.mode -text
modes/ina-spa-transfer.mode -text
modes/ina-spa.mode -text
modes/spa-ina-biltrans.mode -text
modes/spa-ina-dgen.mode -text
modes/spa-ina-disam.mode -text
modes/spa-ina-interchunk.mode -text
modes/spa-ina-lex.mode -text
modes/spa-ina-morph.mode -text
modes/spa-ina-postchunk.mode -text
modes/spa-ina-pretransfer.mode -text
modes/spa-ina-tagger.mode -text
modes/spa-ina-transfer.mode -text
modes/spa-ina.mode -text
/spa-ina.autobil.bin -text
/spa-ina.autogen.bin -text
/spa-ina.autolex.bin -text
/spa-ina.automorf.bin -text
/spa-ina.autopgen.bin -text
/spa-ina.prob -text svneol=unset#unset
/spa-ina.rlx.bin -text
/spa-ina.t1x.bin -text
/spa-ina.t2x.bin -text
/spa-ina.t3x.bin -text
